<!-- Loop over each object in the projects array -->
{{#each opportunities as |opportunity| }}
<div class="row mb-4 opportunity">
  <div class="col-md-5">
    <h2>
      <a href="/opportunity/{{opportunity.id}}">{{opportunity.name}}</a>
    </h2>
    <p>
    </p>

    <p>Created by {{opportunity.user.name}}</p>

  </div>
  <div class="col-md-7">
    <p>
      {{opportunity.description}}
    </p>
  </div>
</div>
{{/each}}
