<div class='row'>
  <div class='col-auto'>
    <h2>
      Welcome,
      {{name}}!
    </h2>
  </div>
</div>

<div class='row mt-4'>
  <div class='col-md-6'>
    <h3>
      Create A New Volunteer Opportunity!
    </h3>
<br />

      {{! cloudinary widget }}
      {{!-- Need to add this widget to profile sign-up --}}
      <div class='form-group'>
        <div>
          <label for='upload_widget'>
            Upload Event Images below:
          </label>
          <br />
          <br />
          <button id='upload_widget' class='cloudinary-button'>Upload Event
            Images</button></div>
      </div>

    <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  

<script type="text/javascript">  
var myWidget = cloudinary.createUploadWidget({
  cloudName: 'di3e0booq', 
  uploadPreset: 'kindly'}, (error, result) => { 
    if (!error && result && result.event === "success") { 
      console.log('Done! Here is the image info: ', result.info); 
    }
  }
)

document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
  }, false);
</script>


    <form class='form new-opportunity-form'>
      <div class='form-group'>
        <label for='opportunity-name'>
          Event Name:
        </label>
        <input
          class='form-input'
          type='text'
          id='opportunity-name'
          name='opportunity-name'
        />
      </div>

      <div class='form-group'>
        <label for='organization-name'>
          Who is sponsoring this opportunity?
        </label>
        <input
          class='form-input'
          type='text'
          id='organization-name'
          name='organization-name'
        />
      </div>

      <div class='form-group'>
        <label for='opportunity-description'>
          Please provide details about this opportunity:
        </label>
        <textarea
          class='form-input'
          type='text'
          id='opportunity-description'
          name='opportunity-description'
        ></textarea>
      </div>

      <div class='form-group'>
        <label for='date-of-opp'>
          When is it happening? MM/DD/YYY
        </label>
        <input
          class='form-input'
          type='text'
          id='date-of-opp'
          name='date-of-opp'
        />
      </div>

      <div class='form-group'>
        <label for='opportunity-location'>
          And where?
        </label>
        <input
          class='form-input'
          type='text'
          id='opportunity-location'
          name='opportunity-location'
        />
      </div>

      <div class='form-group'>
        <label for='items-to-bring'>
          Is there anything volunteers should bring to the event?
        </label>
        <input
          class='form-input'
          type='text'
          id='items-to-bring'
          name='items-to-bring'
        />
      </div>

      <div class='form-group'>
        <label for='volunteers-needed'>
          Volunteers needed:
        </label>
        <input
          class='form-input'
          type='number'
          id='volunteers-needed'
          name='volunteers-needed'
        />
      </div>
      



      <div class='form-group'>
        <button type='submit' class='btn btn-primary'>
          Create
        </button>
      </div>
    </form>
  </div>
  {{#if opportunities.length}}
    <div class='col-md-6 opportunity-list'>
      <h3>
        Current Opportunities:
      </h3>

      {{#each opportunities as |opportunity|}}
        <div class='row mb-2'>
          <div class='col-md-8'>
            <h4>
              <a href='/opportunity/{{opportunity.id}}'>
                {{opportunity.name}}
              </a>
            </h4>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<script src='./js/profile.js'></script>