<div class='d-flex row'>
  <div class='col-auto'>
    <h2>
      Welcome,
      {{name}}!
    </h2>
  </div>
</div>

<div class='row mt-4'>
  <div class='col-md-6'>
    <h4>
      Create A New Volunteer Opportunity!
    </h4>
    <br />

    {{! cloudinary widget }}
    {{! Need to add this widget to profile sign-up }}
    <form class='form new-opportunity-form'>
      <div class='mb-3'>
        <label for='upload_widget' class='form-label'>
          Upload Event Images below:
        </label>
        <br />
        <br />
        <button id='upload_widget' class='cloudinary-button'>Upload Files</button></div>
    </div>

 


    <form class='form new-opportunity-form'>
      <div class='form-group'>
        <label for='opportunity-name'>
          Event Name:
        </label>

        <input
          class='form-control'
          type='text'
          id='opportunity-name'
          name='opportunity-name'
        />
      </div>

      <div class='mb-3'>
        <label for='organization-name'>
          Who is sponsoring this opportunity?
        </label>
        <input
          class='form-control'
          type='text'
          id='organization-name'
          name='organization-name'
        />
      </div>

      <div class='mb-3'>
        <label for='opportunity-description'>
          Please provide details about this opportunity:
        </label>
        <textarea
          class='form-control'
          type='text'
          id='opportunity-description'
          name='opportunity-description'
        ></textarea>
      </div>

      <div class='mb-3'>
        <label for='date-of-opp'>
          When is it happening? MM/DD/YYY
        </label>
        <input
          class='form-control'
          type='text'
          id='date-of-opp'
          name='date-of-opp'
        />
      </div>

      <div class='mb-3'>
        <label for='opportunity-location'>
          And where?
        </label>
        <input
          class='form-control'
          type='text'
          id='opportunity-location'
          name='opportunity-location'
        />
      </div>

      <div class='mb-3'>
        <label for='items-to-bring'>
          Is there anything volunteers should bring to the event?
        </label>
        <input
          class='form-control'
          type='text'
          id='items-to-bring'
          name='items-to-bring'
        />
      </div>

      <div class='mb-3'>
        <label for='volunteers-needed'>
          Volunteers needed:
        </label>
        <input
          class='form-control'
          type='number'
          id='volunteers-needed'
          name='volunteers-needed'
        />
      </div>



      <div class='form-group'>
        <button type='submit' type='button' class='btn btn-info btn-lg' id='myBtn' class='btn btn-primary'>
          Create
        </button>
      </div>
    </form>
  </div>

  {{#if opportunities.length}}
    <div class='col-md-6 opportunity-list'>
      <h4>
        Current Opportunities:
      </h4>

      {{#each opportunities as |opportunity|}}
        <div class='row mb-2'>
          <div class='col-md-8'>
            <h2>
              <a href="/opportunity/{{opportunity.id}}">
                {{opportunity.name}}
              </a>
            </h2>
          </div>

          <div class='col-md-4'>
            <button class='btn btn-sm btn-dark' data-id="{{opportunity.id}}">
              DELETE
            </button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}

  <!-- Modal -->
  <div
    class='modal fade show'
    id='exampleModal'
    tabindex='-1'
    aria-labelledby='exampleModalLabel'
    style='display:hide; padding-right:1px;'
    aria-modal='true'
    role='dialog'
  >
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title' id='exampleModalLabel'>
            Error
          </h5>
          <button
            type='button'
            class='btn-close'
            data-bs-dismiss='modal'
            aria-label='Close'
          ></button>
        </div>
        <div class='modal-body'>
          Please upload an image of your event to proceed.
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-dark' data-bs-dismiss='modal'>
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script
  src='https://upload-widget.cloudinary.com/global/all.js'
  type='text/javascript'
></script>

<script src='./js/imageWidget.js'></script>

<script src='./js/profile.js'></script>