<div class='row'>
  <div class='col-auto'>
    <h2>
      Welcome,
      {{name}}!
    </h2>
  </div>
</div>

<div class='row mt-4'>
  <div class='col-md-6'>
    <h3>
      Create A New Volunteer Opportunity!
    </h3>

    <form class='form new-opportunity-form'>
      <div class='form-group'>
        <label for='name'>
          Event Name:
        </label>
        <input class='form-input' type='text' id='opportunity-name' name='name' />
      </div>

      <div class='form-group'>
        <label for='organization_name'>
          Who is sponsoring this opportunity?
        </label>
        <input
          class='form-input'
          type='text'
          id='organization-name'
          name='organization_name'
        />
      </div>

      <div class='form-group'>
        <label for='description'>
          Please provide details about this opportunity:
        </label>
        <input
          class='form-input'
          type='text'
          id='opportunity-description'
          name='description'
        />
      </div>

      <div class='form-group'>
        <label for='date_of_opp'>
          When is it happening?
        </label>
        <input
          class='form-input'
          type='text'
          id='date-of-opp'
          name='date_of_opp'
        />
      </div>

      <div class='form-group'>
        <label for='location'>
          And where?
        </label>
        <input class='form-input' type='text' id='opportunity-location' name='location' />
      </div>

      <div class='form-group'>
        <label for='items'>
          Is there anything volunteers should bring to the event?
        </label>
        <input class='form-input' type='text' id='items-to-bring' name='items' />
      </div>

      <div class='form-group'>
        <label for='volunteers_needed'>
          Volunteers needed:
        </label>
        <input
          class='form-input'
          type='number'
          id='volunteers-needed'
          name='volunteers_needed'
        />
      </div>

      <div class='form-group'>
        <button type='submit' class='btn btn-primary'>
          Create
        </button>
      </div>
    </form>

    {{!-- {{#if opportunities.length}}
      <div class='col-md-6 opportunity-list'>
        <h3>
          Current Opportunities:
        </h3>

        {{#each opportunities as |opportunity|}}
          <div class='row mb-2'>
            <div class='col-md-8'>
              <h4>
                <a href='/opportunity/{{opportunity.id}}'>
                  {{opportunity.name}}
                </a>
              </h4>
            </div>
          </div>
        {{/each}}
      </div>
    {{/if}} --}}
  </div>
</div>

<script src='./js/profile.js'></script>