<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Unique State</title>
  </head>
  <body>
    <h1>Unique State Volunteer Opportunities</h1>
    <br/>
    <div>
      <a href="./main-event-page.handlebars" target="_self">5k Run for the Cure</a>
    </div>
    <div>
      <a href="./main-event-page.handlebars" target="_self">Canned Food Drive</a>
    </div>
    <div>
      <a href="./main-event-page.handlebars" target="_self">Pet Fundraiser</a>
    </div>
    <div>
      <a href="./main-event-page.handlebars" target="_self">Community Food Drive</a>
    </div>
    <div>
      <a href="./main-event-page.handlebars" target="_self">Bake Sale</a>
    </div>
  </body>
</html>
