/* Universal Selector */
* {
  margin: 0;
  padding: 0;
}
:root {
  /* declare a variable with `--` syntax */
  --dark: #075462;
  --teal: #00c2cb;
  --light: #fff;
  --radius: 50px;
  --center: center;
}

/* Element Selectors */

body {
  position: relative;
  font-family: 'Goudy Bookletter 1911', sans-serif;
  font-size: 20px;
  background: rgb(7, 84, 98);
  background: linear-gradient(
    0deg,
    rgba(7, 84, 98, 1) 0%,
    rgba(0, 194, 203, 1) 56%,
    rgba(202, 253, 255, 1) 100%
  );
}

header {
  background-color: black;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-shadow: 1px 2px 2px #1c6ea4;
  font-size: 20px;
  padding: 20px;
  margin: 20px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 15px;
}

a {
  color: black;
  font-family: 'Kaushan Script', cursive;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 20px;
}

a:hover,
#logout:hover {
  color: var(--light);
  text-shadow: 1px 1px 1px var(--teal);
}
footer {
  margin: 20px;
  font-size: 15px;
  text-align: center;
}

hr {
  height: 2px;
  border-width: 0;
  background-color: black;
}
/* ID Selectors */
#header-links,
#logout {
  font-family: 'Kaushan Script', cursive;
  color: white;
  background-color: black;
}

#header-links:hover {
  color: var(--teal);
  text-shadow: 1px 1px 1px var(--light);
  text-decoration: none;
}

/* Class Selectors */
.btn.btn-primary {
  color: var(--light);
  background-color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

/*
.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
*/
